* {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }
  body p {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Microsoft YaHei", Helvetica, Arial, "sans-serif";
    font-size: "14px";
  }
